.Red {
    background-color: red;
}

.Green {
    background-color: green; 
}

.Button {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}